*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 90%;
    margin: auto;
    background-color: rgb(18, 17, 17);
}

#header{
display: flex;
background-color: black;
justify-content: space-between;
position: fixed;
z-index: 9999;
top: 0;
width: 90%;

}
#main li {
    list-style-type: none;


}
#main ul li a{
    color: white;
text-decoration: none;
padding: 20px;

}
#main ul{
display: flex;
margin: 30px;


}
#logo {
    color: white;
    margin: 20px;
    width: 200%;
    
}
#logo1{
    width: 200px;
}
/* body  */
 #body #home{
    background: url("./Image/main.jpg") no-repeat;
    margin-top: 50px;
    height: 500px;
    background-size: cover;
    width: 100%;
    border-radius: 20px 20px;
    margin-top: 100px;
    
}
#india  {
    color: aquamarine; 
    margin: 20px;
    padding: 20px;
    text-align: center;
}
#test{
    color: black;
    margin-top: 200px;
    margin-left: 100px;
    background-color: black;
    width: 300px;
    padding-left: 20px;
    border-radius: 10px;
    opacity: 0.6;
    color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}
#about{
    background-color: white;
    color: gray;
    margin-top: 50px;
    height: 700px;
    width: 100%;
    border-radius: 200px 0;
}
#img
{
    background: url("/Image/sizzle and spice_files/food_01.png") no-repeat center center;
    width: 700px;
    height: 500px;
    border-radius: 40px;
    margin-left: 300px;
    animation: slide 10s infinite;
}
@keyframes slide 
{
    25%{
        background: url("/Image/sizzle and spice_files/food_018.png") no-repeat center center;
    }
    50%{
        background: url("/Image/sizzle and spice_files/food_06.png") no-repeat center center;
    }
    75%{
        background: url("/Image/sizzle and spice_files/food_033.png") no-repeat center center;
    }
}
#image img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}
#image
{
    overflow-x: hidden;
    width: 100%;
    margin: auto;
    display: flex;
    overflow: scroll;
    margin: 20px;
    overflow-y: hidden;
    color: white;
    text-align: center;
}
#image::-webkit-scrollbar
{
    display: none;
}
#image img:hover
{
    border: 4px solid gray;
}
.cart
{
   border: 2px solid gray;
   width: 30%;
   height: 550px;
   margin: 5px;
   color: white;
 
}
#cart img
{

    width: 300px;
    height: 350px;
    border: 2px  solid gray;
    margin: 10px;;
     
}
#cart 
{
    display: flex;
}
#map iframe
{
    width: 100%;
    height: 500px;
}
.cart{
    margin: 5px;
}
#click{
    padding: 10px; 
    padding-left: 300px;
    height: auto;
    /* animation: slide 20s; */
}
#download{

    background-color: aqua;
    /* margin-right: 10px; */
    padding: 30px;
    border-radius: 20px;
}
#download:hover
{
    border: 4px solid gray;
}
#just h1
{
    color: orange;
    
}
#just
{
    color:aliceblue;
}
#contact
{
    /* align-items: center;  */
    display: flex;
    margin:50px;
    padding: 20px;
    justify-content: space-between;
    background-color: gainsboro;
}
#contact h1
{
    color: goldenrod;
}
#map2
{
    color: white;
}
#click1{
    padding: 10px;
    padding-right: 200px;
    color: bisque;
}
#map2 h1
{
    color: orange;
}